 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 786px;
}

.u-section-1 .u-text-1 {
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px auto 0 20px;
}

.u-section-1 .u-slider-1 {
  width: 758px;
  min-height: 643px;
  margin: 0 auto 60px;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-1 .u-carousel-item-1 {
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 6px;
}

.u-section-1 .u-text-2 {
  margin: 18px auto 0;
}

.u-section-1 .u-image-1 {
  width: 474px;
  height: 489px;
  margin: 18px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-1 .u-carousel-item-2 {
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px 60px;
}

.u-section-1 .u-text-3 {
  margin: 18px auto 0;
}

.u-section-1 .u-image-2 {
  width: 486px;
  height: 487px;
  margin: 39px auto 0;
}

.u-section-1 .u-carousel-control-1 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: -58px;
  position: absolute;
  right: auto;
}

.u-section-1 .u-carousel-control-2 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: auto;
  position: absolute;
  right: -58px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-slider-1 {
    height: auto;
  }

  .u-section-1 .u-image-1 {
    filter: brightness(0.6);
    height: 488px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -234px;
  }

  .u-section-1 .u-image-2 {
    filter: brightness(0.6);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-slider-1 {
    width: 720px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-slider-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 620px;
  }

  .u-section-1 .u-slider-1 {
    width: 340px;
    min-height: 477px;
  }

  .u-section-1 .u-image-1 {
    width: 328px;
    height: 338px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -210px;
  }

  .u-section-1 .u-image-2 {
    width: 320px;
    height: 321px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 715px;
}

.u-section-2 .u-text-1 {
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px auto 0 20px;
}

.u-section-2 .u-slider-1 {
  width: 758px;
  min-height: 615px;
  margin: 0 auto 32px;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 6px;
}

.u-section-2 .u-text-2 {
  margin: 18px auto 0;
}

.u-section-2 .u-image-1 {
  height: 459px;
  margin: 18px 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 6px;
}

.u-section-2 .u-text-3 {
  margin: 18px auto 0;
}

.u-section-2 .u-image-2 {
  height: 459px;
  margin: 18px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-2 .u-carousel-control-1 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: -58px;
  position: absolute;
  right: auto;
}

.u-section-2 .u-carousel-control-2 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: auto;
  position: absolute;
  right: -58px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-slider-1 {
    height: auto;
  }

  .u-section-2 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-slider-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-slider-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-slider-1 {
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 715px;
}

.u-section-3 .u-text-1 {
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px auto 0 20px;
}

.u-section-3 .u-slider-1 {
  width: 758px;
  min-height: 643px;
  margin: 0 auto;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-3 .u-carousel-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 6px;
}

.u-section-3 .u-text-2 {
  margin: 18px auto 0;
}

.u-section-3 .u-image-1 {
  width: 734px;
  height: 489px;
  margin: 23px auto 0;
}

.u-section-3 .u-carousel-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 6px;
}

.u-section-3 .u-text-3 {
  margin: 18px auto 0;
}

.u-section-3 .u-image-2 {
  width: 502px;
  height: 489px;
  margin: 18px 122px 0;
}

.u-section-3 .u-carousel-control-1 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: -58px;
  position: absolute;
  right: auto;
}

.u-section-3 .u-carousel-control-2 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: auto;
  position: absolute;
  right: -58px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-slider-1 {
    height: auto;
  }

  .u-section-3 .u-carousel-item-1 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-image-1 {
    filter: brightness(0.6);
  }

  .u-section-3 .u-carousel-item-2 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-image-2 {
    filter: brightness(0.6);
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 698px;
  }

  .u-section-3 .u-slider-1 {
    width: 606px;
    min-height: 440px;
  }

  .u-section-3 .u-image-1 {
    width: 708px;
    height: 472px;
  }

  .u-section-3 .u-image-2 {
    margin-right: 103px;
    margin-left: 103px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 578px;
  }

  .u-section-3 .u-slider-1 {
    min-height: 410px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-1 {
    width: 528px;
    height: 352px;
  }

  .u-section-3 .u-image-2 {
    margin-right: 13px;
    margin-left: 13px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 565px;
  }

  .u-section-3 .u-image-1 {
    width: 328px;
    height: 219px;
  }

  .u-section-3 .u-image-2 {
    width: 328px;
    height: 320px;
    margin-right: 0;
    margin-left: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 715px;
}

.u-section-4 .u-text-1 {
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px auto 0 20px;
}

.u-section-4 .u-slider-1 {
  width: 758px;
  min-height: 643px;
  margin: 0 auto;
}

.u-section-4 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-4 .u-carousel-item-1 {
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 6px;
}

.u-section-4 .u-text-2 {
  margin: 18px auto 0;
}

.u-section-4 .u-image-1 {
  height: 462px;
  margin: 18px 0 0;
}

.u-section-4 .u-carousel-item-2 {
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 6px;
}

.u-section-4 .u-text-3 {
  margin: 18px auto 0;
}

.u-section-4 .u-image-2 {
  width: 621px;
  height: 489px;
  margin: 18px auto 0;
}

.u-section-4 .u-carousel-control-1 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: -58px;
  position: absolute;
  right: auto;
}

.u-section-4 .u-carousel-control-2 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: auto;
  position: absolute;
  right: -58px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-slider-1 {
    height: auto;
  }

  .u-section-4 .u-image-1 {
    filter: brightness(0.6);
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-2 {
    filter: brightness(0.6);
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-slider-1 {
    width: 606px;
    min-height: 440px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 642px;
  }

  .u-section-4 .u-slider-1 {
    min-height: 410px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-2 {
    width: 528px;
    height: 416px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 484px;
  }

  .u-section-4 .u-image-2 {
    width: 328px;
    height: 258px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 715px;
}

.u-section-5 .u-text-1 {
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px auto 0 20px;
}

.u-section-5 .u-slider-1 {
  width: 758px;
  min-height: 529px;
  margin: 0 auto 60px;
}

.u-section-5 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-5 .u-carousel-item-1 {
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-text-2 {
  margin: 18px auto 0;
}

.u-section-5 .u-image-1 {
  width: 715px;
  height: 323px;
  margin: 39px auto 0;
}

.u-section-5 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 39px auto 0;
}

.u-section-5 .u-carousel-item-2 {
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-2 {
  padding: 7px 60px;
}

.u-section-5 .u-text-3 {
  margin: 20px auto 0;
}

.u-section-5 .u-image-2 {
  width: 550px;
  height: 366px;
  margin: 36px auto 0;
}

.u-section-5 .u-carousel-control-1 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: -58px;
  position: absolute;
  right: auto;
}

.u-section-5 .u-carousel-control-2 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: auto;
  position: absolute;
  right: -58px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-slider-1 {
    height: auto;
  }

  .u-section-5 .u-image-1 {
    filter: brightness(0.6);
  }

  .u-section-5 .u-btn-1 {
    margin-top: -234px;
  }

  .u-section-5 .u-text-3 {
    margin-top: -79px;
  }

  .u-section-5 .u-image-2 {
    filter: brightness(0.6);
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-slider-1 {
    width: 606px;
    min-height: 440px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 636px;
  }

  .u-section-5 .u-slider-1 {
    min-height: 410px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-image-1 {
    width: 540px;
    height: 244px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-3 {
    margin-top: -80px;
  }

  .u-section-5 .u-image-2 {
    width: 520px;
    height: 346px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 503px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 154px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: -210px;
  }

  .u-section-5 .u-text-3 {
    margin-top: -67px;
  }

  .u-section-5 .u-image-2 {
    width: 320px;
    height: 213px;
    margin-top: 43px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 715px;
}

.u-section-6 .u-text-1 {
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px auto 0 20px;
}

.u-section-6 .u-slider-1 {
  width: 758px;
  min-height: 549px;
  margin: 0 auto 60px;
}

.u-section-6 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-6 .u-carousel-item-1 {
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-1 {
  padding: 0 6px;
}

.u-section-6 .u-text-2 {
  margin: 18px auto 0;
}

.u-section-6 .u-image-1 {
  filter: brightness(0.6);
  width: 251px;
  height: 441px;
  margin: 35px 238px 0 auto;
}

.u-section-6 .u-carousel-item-2 {
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-2 {
  padding: 12px 60px;
}

.u-section-6 .u-text-3 {
  margin: 0 auto;
}

.u-section-6 .u-image-2 {
  width: 618px;
  height: 448px;
  margin: 19px auto 0;
}

.u-section-6 .u-carousel-control-1 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: -58px;
  position: absolute;
  right: auto;
}

.u-section-6 .u-carousel-control-2 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: auto;
  position: absolute;
  right: -58px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-slider-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-slider-1 {
    width: 720px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 644px;
  }

  .u-section-6 .u-slider-1 {
    width: 540px;
    min-height: 479px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-2 {
    width: 520px;
    height: 377px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 499px;
  }

  .u-section-6 .u-slider-1 {
    width: 340px;
    min-height: 334px;
  }

  .u-section-6 .u-image-1 {
    margin-right: 77px;
  }

  .u-section-6 .u-image-2 {
    width: 320px;
    height: 232px;
  }
}